#section2{
    padding: 10% 5%;
    margin: 0 auto;
background-color: black;
color: whitesmoke;
}
.nav-link{
    font-size: 1.05em;
}
.row1{
    margin-bottom: 5% ;
    text-align: center;
}
.para{
    font-size: 1.25em;
}
.btn{
    width: 6em;
    border: 2px solid rgb(228, 224, 224);
}
.btn:hover{
    background-color: rgb(38, 125, 197);
}