
#book-a-table {
    
    padding: 50px 0px;
   
    margin: 50px 0px;
    float: left;
    width: 65%;
    -webkit-box-shadow: 0px 0px 0px 2px transparent; box-shadow: 0px 0px 0px 2px transparent;

}
.book-a-table p {
	color: white;
    
}
.book-a-table textarea {
    min-height: 200px;
    max-width: 75%;
}
body{
    background-image: url("images/reservebut.jpg");
    background-position: center;
            background-repeat: no-repeat,no-repeat;
            background-size: 100% 200%;
           
 }
 .form-row{
     max-width: 75%;
     
 }
 button{
     margin-right: 650px;
 }
 h1{
     margin-right: 300px;
     color: white;
     
 }
 

 /* .form-control
 {
    opacity: 0.7; 
     background-color: gray;
    
 }
  */